html {
  font-size: 62.5%;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--main-font);
  font-size: var(--font-size);
}

#app {
  opacity: 0.2; //debug
  padding: 1rem;
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
}

.page-title {
  text-transform: uppercase;
}

header.main {
  text-align: center;
  margin-bottom: 30px;
}

.img-center {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.menu {
  display: flex;

  > ul {
    padding: 0;
    display: flex;

    > li {
      list-style: none;
      
      > a {
        display: block;
        text-decoration: none;
      }
    }
  }

  &.main-menu {
    justify-content: center;

    > ul {
      > li {
        > a {
          color: var(--white);
          padding: 1rem;
          text-transform: uppercase;
          font-size: 1.6rem;
          transition: 0.2s all ease-in-out;
          display: block;
  
          &::after {
            content: " ";
            background: transparent;
            width: 0;
            height: 0.3rem;
            transition: 0.2s all ease-in-out;
            transition-delay: 0.2s;
            display: block;
          }
  
          &:hover {
            color: var(--red);
  
            &::after {
              background: var(--red);
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.vertical-menu {
    > ul {
      flex-direction: column;

      > li {
        > a {
          text-transform: uppercase;
          font-size: 2.4rem;
          color: var(--white);
        }
      }
    }
  }
}